@import "../vars";

.business {
  color: $light;
  padding: 0 0 116px 0;

  @include media(820) {
    padding: 0 0 80px 0;
  }

  @include media(565) {
    padding: 0 0 40px 0;
  }

  &__title {
  }

  &__description {
  }

  &__btns-wrapper {
    justify-content: center;
    margin: 55px 0 89px 0;

    @include media(630) {
      margin: 20px 0 40px 0;
    }

    @include media(420) {
      margin: 20px 0;
    }
  }

  &__trail-btn {
    margin: 15px;
    background-color: $light;
    color: $dark;
    border: 1px solid $light;

    &:hover {
      color: $light;
    }
  }

  &__logo-btn {
    margin: 15px;
  }

  &__image {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    img {
      max-width: 100%;
    }
  }
}
