@import "../vars";

.header {
  color: $light;
  text-transform: capitalize;

  &__wrapper {
    height: 70px;
    display: flex;
    align-items: center;
  }

  &__logo {
    flex: 0 1 195px;
  }

  &__right {
  }

  &__login-btn {
    margin: 0 26px 0 0;
  }

  &__trial {
  }
}

.menu {
  flex: 1 1 auto;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin: 0 85px 0 0;
    a {
      color: inherit;
      padding: 24px 0;
    }

    &:last-child {
      margin: 0;
    }
  }
}
