@import "../vars";
@import "../media";

.intro {
  margin-top: 70px;
  padding: 70px 0;
  color: $light;

  @include media(930) {
    margin-top: 30px;
  }

  @include media(630) {
    margin-top: 0;
  }

  @include media(440) {
    padding-bottom: 20px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 130px 0;

    @include media(820) {
      flex-wrap: wrap;
      margin-bottom: 80px;
    }

    @include media(560) {
      margin-bottom: 30px;
    }
  }

  &__body {
    flex: 0 1 490px;
    margin: 0 20px 0 0;

    @include media(820) {
      flex: 1 1 auto;
    }
  }

  &__title {
    margin: 0 0 17px 0;
    font-family: $accent-font;
    font-style: normal;
    font-weight: 700;
    font-size: 49px;
    line-height: 60px;
  }

  &__text {
    margin: 0 0 4px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  &__btns-wrapper {
  }

  &__btn {
    margin: 10px 30px 10px 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &__image {
    flex: 0 1 575px;
    margin: 0 -40px 0 0;
    img {
      max-width: 100%;
    }

    @include media(820) {
      margin: 10px auto;
    }
  }

  &__bottom {
  }

  &__list {
    margin: 0 0 0 -15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @include media(930) {
    }
  }

  &__item {
    padding: 10px 15px;
  }
}
