@import "../vars";

.live {
  padding: 0 0 200px 0;
  background-color: $light;

  &__title {
    padding: 133px 0 0 0;
  }

  &__description {
    margin-bottom: 98px;
  }

  &__row {
    display: flex;
    justify-content: center;
  }

  &__item {
    flex: 0 0 360px;
    height: 201px;
    margin: 15px;
    border-radius: 27px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}
